<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAa_mnq9qmji1MVq-4cXtalHl5pB5sSQpA</string>
	<key>GCM_SENDER_ID</key>
	<string>229747347853</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>BashmakovSergey.Navigation</string>
	<key>PROJECT_ID</key>
	<string>navigationbashmakov</string>
	<key>STORAGE_BUCKET</key>
	<string>navigationbashmakov.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:229747347853:ios:c4541c3dfe2a4e86c0edc4</string>
</dict>
</plist>